/* nav related style */
body{
    font-family: 'Crimson Text', serif;
}

.text-primary{
    color: #FD6E0A;
}
.section-title{
    color:black;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 200px;
}

.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 35px;
}
.nav-title{
 color:#181818;
 font-size: 60px;
 font-weight: bold;
}

nav > ul {
    display: flex;
    align-items: center;
    
}

nav li {
    list-style: none;
    margin-right: 50px;
    
}
nav a{
    text-decoration: none;
    color: #181818;
}



.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
}
.banner{
          padding:50px 150px;
          display: flex;
          align-items: center;
          justify-content: space-between;
}

.profile-picture{
    width: 500px;
}

.banner-content{
    max-width: 500px;
}

.banner-greeting{
    font-size: 45px;
    color:grey;
    margin: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700px;
    margin-top: 5px;
    margin-bottom: 20px;

}
.banner-des{
    margin: 20px;
    color: gray;
}

.about{
    padding: 130px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 0px ;
}
.section-description{
    color:gray;
    text-align: center;
    font-size: 18px;
}

main{
    width: 1140px;
    margin: 0px auto;
}

main section{
    margin-top: 130px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-do{
    padding: 30px 150px;
}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    
}
.skills-container{
    display: flex;
    gap: 24px;
}
.resume-column-title{
    color:gray;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 700;

}

.resume-container{
    display: flex;
    gap:50px;
}

.resume-item-description{
    color:grey;
}
.download-cv{
    text-align: center;
    margin-top: 50px;
}

.section-des{
    text-align: center;
}

footer{
    display: flex;
    background-color:#FFF8F3;
    margin-top: 50px;
    padding: 130px 200px;
    gap: 100px;
}

.footer-column{
    width: 50%;
}

.contact input,textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    border: none;
    color: gray;
    border-radius: 5px;
    background-color: white;

}

.footer-column-right{
    text-align: right;
}